/* line 1, app/assets/stylesheets/chats.scss */
.message-container {
  position: absolute;
  top: -47px;
  width: 100%;
  padding-bottom: 75px;
}

/* line 8, app/assets/stylesheets/chats.scss */
footer.send-message {
  position: fixed;
  z-index: 9999;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 10px;
}

/* line 16, app/assets/stylesheets/chats.scss */
footer.send-message textarea {
  height: 80px;
  font-size: 12pt;
}

/* line 23, app/assets/stylesheets/chats.scss */
div.contact-header div.name {
  width: 100%;
  font-size: 14px;
}

/* line 28, app/assets/stylesheets/chats.scss */
div.contact-header div.status {
  width: 100%;
  font-size: 10px;
  font-weight: normal;
}
