div.columns.message {
  margin-top: 5px;
  background-color: transparent;

  div.column {
    margin: 0;

    &.date {
      padding: 0;
      font-size: 8pt;
    }
  }

  #full_content{
    display: flex;
    justify-content: space-between;
  }

  &.sender {
    flex-direction: row-reverse;

    div.column {
      &.content {
        color: $darker-gray;
        background-color: #99FF99;
      }

      &.date {
        text-align: right;
      }
    }
  }

  &.receiver {
    div.column.content {
      color: $black-ter;
      background-color: $white-ter
    }
  }
}
